body {
  background-color: #faf3dd;
}

hr {
  border-style: dotted none none;
  border-width: 10px;
  border-color: gray;
  width: 30%;
}
img {
  border-radius: 20%;
  position: relative;
}
h3 {
  color: #68b0ab;
  font: 1.5em sans-serif;
}
h1 {
  color: #68b0ab;
  
}
p {
  font: 1.5em sans-serif;
}
li {
  font: 1.5em sans-serif;
}
td {
  font: 0.9em sans-serif;
}
.circular {
  border-radius: 70%;
}
